
[class^="gsap_box"] {width: 500px; height: 500px;}
.gsap_box1 {background-color: yellow;}
.gsap_box2 {background-color: orange;}
.gsap_box3 {background-color: gray;}
.gsap_box4 {background-color: red;}
.gsap_box5 {background-color: greenyellow;}

